{% extends 'base.html.twig' %}

{% block body %}
    <div class="margin-login">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Вход</h1>
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <form class="contact_form" action="#" method="post" name="contact_form">
                        <label for="username"></label>
                        <input type="text" placeholder="Имя пользователя" required id="username" name="_username"
                               value="{{ last_username }}"/>
                        <br><br>
                        <label for="password"></label>
                        <input type="password" name="_password" id="password" placeholder="Пароль" required/>
                        <br><br>
                        <button type="submit" class="btn btn-success">Войти <span class="fa fa-lock"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
