{% extends 'base.html.twig' %}

{% block body %}
    <div class="margin-home">
        <div class="container">
            <h1>Список новостей</h1>
            <div class="row">
                <!-- Article List -->
                <div class="col-sm-12 col-md-8">
                    <!-- H1 Article -->
                    {#<a class="main-article-link" href="#">#}
                    {#<div class="main-article mb-5 pb-3">#}
                    {#<img src="{{ asset('images/meteor-shower.jpg') }}" alt="meteor shower">#}
                    {#<h1 class="text-center mt-2">Ursid Meteor Shower: <br>Healthier than a regular shower?</h1>#}
                    {#</div>#}
                    {#</a>#}
                    <!-- Supporting Articles -->
                    {% for article in articles %}
                        <div class="article-container my-1">
                            <a href="{{ url('article_show', {article: article.id}) }}">
                                <img class="article-img" src="{{ asset('images/Article.jpg') }}">
                                <div class="article-title d-inline-block pl-3 align-middle">
                                    <span><b>{{ article.title }}</b></span>
                                    <br>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
