{% extends 'base.html.twig' %}

{% block body %}
    <div class="margin-home">
        <div class="container">
            <div class="row">
                <!-- Article List -->
                <div class="col-sm-12 col-md-8">
                    <!-- H1 Article -->
                    <a class="main-article-link" href="#">
                        <div class="main-article mb-5 pb-3">
                            <img src="{{ asset('images/wildways_photo.jpg') }}" alt="meteor shower">
                            <h1 class="text-center mt-2">Wildways в твоем городе! <br>Даты концертов:</h1>
                        </div>
                    </a>
                    <!-- Supporting Articles -->
                    {% for tour in tours %}
                        <div class="article-container my-1">
                            <a href="https://wildwaystour.com">
                                <div class="article-title d-inline-block pl-3 align-middle">
                                    <div><i>{{ tour.city }}</i></div>
                                    <br>
                                </div>
                                <div class="article-title d-inline-block pl-3 align-middle">
                                    <div><b>Клуб: {{ tour.club }}</b></div>
                                    <br>
                                </div>
                                <div class="article-title d-inline-block pl-3 align-middle">
                                    <div>Дата: {{ tour.date|date('d.m///H:i') }}</div>
                                    <br>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
